
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="text-align:center;">Đặt hàng thanh công quí khách vui lòng vào email của tài khoản để kiểm tra thông tin !</h3>
<div style="text-align:center;">
    <img src="~/Content/Image/success.png"  width="400px"/>

</div>
<div style="text-align:center;">

    @Html.ActionLink("Về Trang Chủ", "Index", "Home", new { @class = "btn btn-primary" })

</div>

