
@{
    ViewBag.Title = "ConfirmSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xác nhận tài khoản thành công !</h2>
<p>Nhấn vào link bên dưới để về trang chủ</p>
@Html.ActionLink("Về trang chủ","Index","Home")

