
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Đăng ký thành công quí khách vui lòng kiểm tra email đễ xác nhận đăng ký</h3>
<p>@Html.ActionLink("Trở về trang chủ","Index","Home")</p>

