@model List<Models.Class.OrderDetails>

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Shipper/Views/Shared/_Layout.cshtml";
}

<h2>Thông tin hóa đơn</h2>


<table class="table">
    <tr>
        <th>
            Tên
        </th>
        <th>
            Số lượng
        </th>
        <th>
            Đơn giá
        </th>
        <th>
            Thành tiền
        </th>
        <th>
            Công cụ
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sum)
            </td>
            <td></td>
        </tr>
    }

</table>

